.logo-self {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Nunito", serif;
    padding-left: 10px;
    margin: 10px;
    --tw-bg-opacity: 1;
    background: rgba(31, 41, 55, var(--tw-bg-opacity));
  }

  .logo-self:hover {
    color: #5f5f5f;
  }